@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Raleway:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap');
body{
    overflow: hidden;
}
.toUpbtn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    z-index: 999;
}
.carousel-indicators .active, .main-color, .nav-item .nav-link:after {
    background-color: var(--main-color)!important;
}
.header p, .nav-tabs .nav-link {
    font-family: Raleway, sans-serif;
}
.bar, .customers, .resume .head, .services .service-item {
    position: relative;
}
.contact, .download, .header {
    background-size: cover;
    background-repeat: no-repeat;
}
.customers .carousel-inner h3, body {
    font-family: Roboto, sans-serif;
}
.cus-info span, .footer p {
    text-transform: capitalize;
}
:root {
    --main-color: #ff724c;
}
h1, h2 {
    font-family: Dosis, sans-serif;
}
@media(min-width:1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
}
}.c-main-color {
    color: var(--main-color);
}
.b-main-color {
    border-color: var(--main-color)!important;
}
.title-color {
    color: #818181;
}
.margin {
    margin-top: 100px;
    margin-bottom: 50px;
}
.loader {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 4px solid;
  border-color: var(--main-color) var(--main-color) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid;
  border-color: transparent transparent var(--main-color) var(--main-color);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 60px;
  height: 60px;
  border-color: var(--main-color) var(--main-color) transparent transparent;
  animation: rotation 1.5s linear infinite;
}
.loading_spinner{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
} 
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.navbar {
 background-color: transparent;
 transition: 0.5s;
 -webkit-transition: 0.5s;
 -moz-transition: 0.5s;
 -ms-transition: 0.5s;
 -o-transition: 0.5s;
}
.move:hover i {
    transition: .5s;
    transform: rotate(360deg);
    color: #fff!important;
    background-color: #3b3b3b!important;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.nav-item .nav-link {
    position: relative;
    padding-block: 15px;
}
.nav-item .nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 40px;
    transition: .5s;
}
.nav-item .nav-link.active:after, .nav-item .nav-link:hover:after {
    width: 100%}
.header {
    background-image: url(../img/introbg5.png);
    background-position: center top;
}
.header p {
    font-size: 23px;
}
.header p:nth-of-type(2) {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #3333;
    animation: 4s steps(27) infinite alternate-reverse typing, .7s infinite blink;
    -webkit-animation: 4s steps(27) infinite alternate-reverse both typing, .7s infinite blink;
}
@keyframes typing {
    from {
    width: 0;
}
to {
    width: 320px;
}
}@keyframes blink {
    from {
    border-color: #333;
}
to {
    border-color: #33333300;
}
}.header h1 {
    font-size: 60px;
    font-weight: 700;
}
@media (max-width:992px) {
    .nav-item .nav-link {
    width: fit-content;
    margin-left: 14px;
}
.header h1 {
    text-align: end;
}
.header {
    background-position-x: 45%}
}.social-media .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.social-media .icon i {
    transition: .5s;
}
.social-media .icon:hover i {
    transform: rotate(360deg);
}
.social-media .icon:first-of-type {
    color: #3b5999;
    border: 1px solid #3b5999!important;
}
.social-media .icon:first-of-type:hover {
    color: #fff;
    background-color: #3b5999;
}
.social-media .icon:nth-of-type(2) {
    color: #ea4c89;
    border-color: #ea4c89!important;
}
.social-media .icon:nth-of-type(2):hover {
    color: #fff;
    background-color: #ea4c89;
}
.social-media .icon:nth-of-type(3) {
    color: #1769ff;
    border: 1px solid #1769ff!important;
}
.social-media .icon:nth-of-type(3):hover {
    color: #fff;
    background-color: #1769ff;
}
.social-media .icon:nth-of-type(4) {
    color: #0077b5;
    border: 1px solid #0077b5!important;
}
.social-media .icon:nth-of-type(4):hover {
    color: #fff;
    background-color: #0077b5;
}
.social-media .icon:nth-of-type(5) {
    color: #dd4b39;
    border: 1px solid #dd4b39!important;
}
.social-media .icon:nth-of-type(5):hover {
    color: #fff;
    background-color: #dd4b39;
}
.about .values {
    background-color: #4e4e4e;
}
.values span {
    font-size: 26px;
    font-weight: 700;
}
.values p {
    font-size: 16px;
    font-weight: 700;
}
.about-us h2, .title h2 {
    font-size: 48px;
    font-weight: 700;
}
.values .row {
    padding-inline: 37px;
}
.about-us h2 {
    margin-left: 20px;
    margin-bottom: 18px;
}
.about-us a, .contact a, .portfolio {
    background-color: #f3f3f3;
}
.about-us a i, .contact a i {
    background-color: #3b3b3b;
    color: #f3f3f3;
}
.about-us a span, .contact a span, .title h2 {
    color: #3b3b3b;
}
.about-us a:hover i, .contact a:hover i {
    transition: .5s;
    color: var(--main-color);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.services .service-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: -1;
    height: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.services .service-item:hover:after {
    height: 100%}
.services .service-item p {
    color: #818181;
    font-weight: 400;
    margin-bottom: 30px;
}
.services .service-item h3 {
    color: #3b3b3b;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.nav-tabs .nav-link {
    color: #5f5f5f;
    border: 1px solid #5f5f5f!important;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 20px;
    cursor: pointer;
    margin: 5px;
}
.nav-tabs .nav-link.active {
    background-color: var(--main-color);
    color: #f0f8ff;
    border: none!important;
}
.card .overlay {
    background-color: #3b3b3b29;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer;
}
.bar:after, .download a:hover {
    background-color: var(--main-color);
}
.card:hover .overlay {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
.card .overlay i {
    transform: scale(0);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s .1s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.card:hover .overlay i {
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}
.card .overlay i:hover {
    border: 1px solid;
    border-color: #fff!important;
    color: var(--main-color)!important;
    background-color: transparent!important;
}
.card .info {
    bottom: 50px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.card:hover .info {
    bottom: 0;
    opacity: 1;
}
.resume .head i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.resume .head:before, .resume .item:not(:last-of-type):before {
    content: "";
    position: absolute;
    top: 30px;
    left: 20px;
    height: 100%;
    width: 1px;
    background-color: #000;
    z-index: -1;
}
.resume .item:not(.item.special):after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main-color);
    left: 15.5px;
    top: 28px;
    background-color: #fff;
}
.resume .head:hover i {
    background-color: #f3f3f3!important;
    color: var(--main-color)!important;
}
.resume .item:hover:after {
    background-color: var(--main-color)!important;
}
.bar {
    height: 5px;
    background-color: #000;
}
.bar:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 80%}
.item[parcentage="80%"] .bar:after, .item[parcentage="80%"] h5 {
    width: 80%}
.item[parcentage="70%"] .bar:after, .item[parcentage="70%"] h5 {
    width: 70%}
.item[parcentage="55%"] .bar:after, .item[parcentage="55%"] h5 {
    width: 55%}
.download {
    background-image: linear-gradient(rgba(59, 59, 59, .75), rgba(59, 59, 59, .75)), url(../img/brandbg.png);
}
.download p {
    font-size: 32px;
    font-family: Dosis, sans-serif;
}
.download a, .footer p {
    font-family: Raleway, sans-serif;
}
.download a {
    font-size: 13px;
    transition: .34s;
    -webkit-transition: .34s;
    -moz-transition: .34s;
    -ms-transition: .34s;
    -o-transition: .34s;
}
.download a:hover {
    border: none!important;
}
.customer img {
    height: 110px;
    width: 110px;
}
.carousel-indicators [data-bs-target] {
    font-size: 0px;
    line-height: 0;
    display: block;
    width: 13px;
    height: 13px;
    padding: 0;
    cursor: pointer;
    border-radius: 100%;
    background: 0 0;
    border: 1px solid #ff724c;
    outline: 0;
    text-indent: 0;
}
.customers .carousel-inner h3 {
    color: #313131;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
}
.cus-info {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cus-info span {
    color: #5b5b5b;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 40px;
}
.cus-info:hover {
    background-color: #5b5b5b;
    color: #fff;
}
.cus-info:hover span {
    color: #fff;
}
.contact {
    background-image: linear-gradient(rgba(255, 114, 76, .85), rgba(255, 114, 76, .85)), url(../img/contactbg.png);
}
.contact input:focus, .contact textarea:focus {
    border: 1px solid #fff!important;
    box-shadow: none;
}
.contact input::placeholder, .contact textarea::placeholder {
    color: #fff;
}
@media (max-width:576px) {
    .contact form {
    width: 100%!important;
}
}.map .contact-info i {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map .contact-info i:hover {
    transition: .5s;
    transform: rotate(360deg);
    color: #fff!important;
    background-color: #3b3b3b!important;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    cursor: pointer;
    background-color: var(--main-color)!important;
}
.map .contact-info .info h3, .map .contact-info .info span {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.footer {
    background-color: #fff;
    text-align: center;
}
.footer p {
    font-weight: 400;
    font-size: 16px;
    color: #818181;
    padding: 0;
    margin: 0;
}
@media (max-width:768px) {
    .values .value {
    border: none!important;
}
.download .download-info {
    text-align: center!important;
}
.footer .mal {
    justify-content: center!important;
    margin-block: 10px!important;
}
}